@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    color: #cf2d99;
    background-color: #fcdbf1;
    font-family:"Poppins";
}

body {
    margin: 0;
}

.margem {
    margin-left: 20px;
    margin-right: 20px;
}

.nav {
    background-color: #fccbeb;
    text-align: center;
    padding: 8px;
}

.nav a {
    background-color: transparent;
}

#titulo {
    font-size: 40px;
    text-align: center;
}

#sub {
    font-size: 25px;
    text-align: center;
}

#titulo-topico {
    font-size: 20px;
}